@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  padding: 0.5rem 1rem;
  text-align: center;

  transition: 0.5s;
  background-size: 200% auto;

  color: white;
  border-radius: 10px;

  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
}

.circle::before {
  content: '';
  background-color: #5a80d2;
  width: 70%;
  height: 70%;

  border-radius: 100%;
  position: absolute;

  top: 10rem;
  left: 15rem;
}
